# Data science I

## pandas

![](https://pandas.pydata.org/_static/pandas_logo.png)

> pandas is an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language ([pandas-website](https://pandas.pydata.org/index.html)).

Let's say we want to investigate the weather data recorded at the Frankfurt International Airport from the year 2015. The data is available in the tabular CSV format:

![](images/S01E04/csv_example.png)

First, we want to read the data:

In [75]:
import pandas as pd
tabelle = pd.read_csv('../data/metar_frankfurt.csv',parse_dates=['time'],index_col="time")

The pandas function `pd.read_csv(...)` opens the csv file and reads its contents. The `parse_dates` argument tells Python to interpret the values in the `time` column as dates and the `index_col` argument tells it to use this column as index.

All data is stored in the `tabelle` object. This object is a so-called **DataFrame**, the basic pandas object. You can think of it like a spreadsheet.

The DataFrame object offers many functions that allow you to work with the data conveniently.

For a first glimps at the data, you can call the `head()` function which prints out the first 5 rows of the table:

In [120]:
tabelle.head()

,vis,temp,dewpt,winddir,windspeed,press_sealevel,cloudlevels,lcl_alt,lcl_cov,ucl_alt,ucl_cov
time,,,,,,,,,,,
2015-01-01 00:20:00,2800.0,1.0,1.0,0.0,0.0,1036.0,1.0,200.0,OVC,NaN,NaN
2015-01-01 00:50:00,1500.0,1.0,1.0,0.0,0.0,1036.0,1.0,100.0,OVC,NaN,NaN
2015-01-01 01:20:00,1000.0,1.0,1.0,0.0,0.0,1036.0,1.0,100.0,OVC,NaN,NaN
2015-01-01 01:50:00,700.0,1.0,1.0,0.0,0.0,1036.0,NaN,NaN,NaN,NaN,NaN
2015-01-01 02:20:00,600.0,1.0,1.0,0.0,0.0,1036.0,NaN,NaN,NaN,NaN,NaN

To get an **overview** of the value distributions of the variables within `tabelle`, you can call the `describe()` function. It generates descriptive statistics that summarize the central tendency, dispersion and shape of a dataset’s distribution, excluding NaN values:

In [26]:
tabelle.describe()

,vis,temp,dewpt,winddir,windspeed,press_sealevel,cloudlevels,lcl_alt,ucl_alt
count,17520.000000,17507.000000,17507.000000,15615.000000,17519.000000,17507.000000,10210.000000,10210.000000,7743.000000
mean,9421.269977,11.679785,6.006740,169.353186,7.120212,1018.367967,2.056611,2142.938296,8763.786646
std,1839.270055,7.840700,5.574845,95.499760,4.378843,8.490866,0.747168,1371.047900,8246.197043
min,100.000000,-5.000000,-11.000000,0.000000,0.000000,972.000000,1.000000,100.000000,200.000000
25%,10000.000000,5.000000,2.000000,70.000000,4.000000,1014.000000,2.000000,1000.000000,3150.000000
50%,10000.000000,11.000000,6.000000,200.000000,6.000000,1019.000000,2.000000,2000.000000,5500.000000
75%,10000.000000,17.000000,10.000000,230.000000,10.000000,1024.000000,3.000000,3100.000000,10000.000000
max,10000.000000,39.000000,20.000000,360.000000,40.000000,1041.000000,4.000000,8000.000000,30000.000000

The `dtypes` field of `tabelle` shows you all column names and the **data type** of the respective column:

In [27]:
tabelle.dtypes

vis               float64
temp              float64
dewpt             float64
winddir           float64
windspeed         float64
press_sealevel    float64
cloudlevels       float64
lcl_alt           float64
lcl_cov            object
ucl_alt           float64
ucl_cov            object
dtype: object

You can **sort** the table by the values of a specific column, e.g.:

In [28]:
tabelle.sort_values(by='vis')

,vis,temp,dewpt,winddir,windspeed,press_sealevel,cloudlevels,lcl_alt,lcl_cov,ucl_alt,ucl_cov
time,,,,,,,,,,,
2015-11-01 19:20:00,100.0,5.0,5.0,NaN,1.0,1031.0,NaN,NaN,NaN,NaN,NaN
2015-11-13 02:20:00,100.0,4.0,3.0,180.0,1.0,1024.0,1.0,100.0,BKN,NaN,NaN
2015-11-01 19:50:00,100.0,5.0,5.0,NaN,2.0,1031.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 18:50:00,100.0,6.0,5.0,NaN,2.0,1031.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 18:20:00,150.0,6.0,5.0,240.0,3.0,1031.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 07:50:00,150.0,3.0,2.0,140.0,3.0,1032.0,NaN,NaN,NaN,NaN,NaN
2015-12-08 15:50:00,150.0,4.0,4.0,210.0,3.0,1030.0,NaN,NaN,NaN,NaN,NaN
2015-12-08 15:20:00,150.0,4.0,4.0,240.0,3.0,1030.0,NaN,NaN,NaN,NaN,NaN
2015-01-19 02:20:00,150.0,-1.0,-1.0,350.0,4.0,1013.0,NaN,NaN,NaN,NaN,NaN
2015-01-19 01:50:00,150.0,NaN,NaN,360.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-19 01:20:00,150.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-08 16:20:00,150.0,4.0,4.0,220.0,5.0,1031.0,NaN,NaN,NaN,NaN,NaN
2015-01-19 00:20:00,150.0,NaN,NaN,20.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-12-20 04:20:00,150.0,4.0,4.0,NaN,2.0,1021.0,NaN,NaN,NaN,NaN,NaN
2015-12-08 09:20:00,150.0,2.0,1.0,160.0,3.0,1032.0,1.0,100.0,BKN,NaN,NaN
2015-01-19 00:50:00,150.0,-1.0,-1.0,50.0,3.0,1014.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 17:50:00,200.0,6.0,5.0,NaN,2.0,1031.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 17:20:00,200.0,6.0,5.0,220.0,3.0,1031.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 16:50:00,200.0,6.0,5.0,210.0,4.0,1031.0,NaN,NaN,NaN,NaN,NaN
2015-12-08 11:50:00,200.0,4.0,4.0,210.0,6.0,1032.0,NaN,NaN,NaN,NaN,NaN
2015-12-20 04:50:00,200.0,4.0,4.0,90.0,2.0,1020.0,NaN,NaN,NaN,NaN,NaN
2015-12-20 01:50:00,200.0,4.0,3.0,NaN,1.0,1020.0,NaN,NaN,NaN,NaN,NaN
2015-12-20 02:20:00,200.0,3.0,3.0,NaN,1.0,1020.0,NaN,NaN,NaN,NaN,NaN
2015-12-08 23:20:00,200.0,4.0,4.0,280.0,3.0,1031.0,NaN,NaN,NaN,NaN,NaN
2015-12-08 23:50:00,200.0,4.0,4.0,NaN,1.0,1030.0,NaN,NaN,NaN,NaN,NaN
2015-12-20 02:50:00,200.0,3.0,3.0,NaN,2.0,1020.0,NaN,NaN,NaN,NaN,NaN
2015-01-18 23:50:00,200.0,-1.0,-1.0,340.0,3.0,1014.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 20:20:00,200.0,5.0,5.0,NaN,1.0,1031.0,NaN,NaN,NaN,NaN,NaN
2015-12-20 05:50:00,200.0,4.0,4.0,190.0,3.0,1021.0,NaN,NaN,NaN,NaN,NaN
2015-12-08 22:50:00,250.0,4.0,4.0,290.0,3.0,1030.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2015-05-18 03:20:00,10000.0,6.0,5.0,210.0,3.0,1017.0,NaN,NaN,NaN,NaN,NaN
2015-05-18 03:50:00,10000.0,6.0,5.0,250.0,2.0,1016.0,NaN,NaN,NaN,NaN,NaN
2015-05-18 04:20:00,10000.0,7.0,6.0,200.0,1.0,1016.0,NaN,NaN,NaN,NaN,NaN
2015-05-18 04:50:00,10000.0,8.0,7.0,0.0,0.0,1016.0,NaN,NaN,NaN,NaN,NaN
2015-05-18 05:20:00,10000.0,10.0,7.0,NaN,1.0,1016.0,NaN,NaN,NaN,NaN,NaN
2015-05-18 05:50:00,10000.0,11.0,8.0,NaN,2.0,1016.0,NaN,NaN,NaN,NaN,NaN
2015-05-18 06:20:00,10000.0,12.0,8.0,210.0,4.0,1015.0,NaN,NaN,NaN,NaN,NaN
2015-05-18 06:50:00,10000.0,13.0,7.0,190.0,5.0,1015.0,2.0,2000.0,FEW,30000.0,BKN
2015-05-18 07:20:00,10000.0,14.0,7.0,200.0,5.0,1015.0,2.0,2500.0,FEW,30000.0,BKN
2015-05-18 07:50:00,10000.0,15.0,8.0,180.0,6.0,1014.0,2.0,2800.0,FEW,30000.0,BKN
2015-05-18 08:20:00,10000.0,16.0,7.0,200.0,6.0,1014.0,2.0,3200.0,FEW,30000.0,BKN
2015-05-18 08:50:00,10000.0,18.0,7.0,220.0,9.0,1013.0,2.0,3700.0,FEW,30000.0,BKN
2015-05-18 09:20:00,10000.0,18.0,7.0,220.0,10.0,1013.0,2.0,4000.0,FEW,30000.0,BKN
2015-05-18 17:50:00,10000.0,22.0,4.0,230.0,12.0,1005.0,NaN,NaN,NaN,NaN,NaN
2015-05-18 09:50:00,10000.0,18.0,7.0,240.0,7.0,1013.0,2.0,4200.0,FEW,30000.0,BKN
2015-05-18 10:50:00,10000.0,20.0,4.0,210.0,11.0,1011.0,2.0,4800.0,FEW,30000.0,BKN
2015-05-18 11:20:00,10000.0,21.0,5.0,200.0,10.0,1011.0,NaN,NaN,NaN,NaN,NaN
2015-05-18 11:50:00,10000.0,22.0,6.0,190.0,11.0,1010.0,NaN,NaN,NaN,NaN,NaN
2015-05-18 12:20:00,10000.0,22.0,4.0,190.0,11.0,1009.0,NaN,NaN,NaN,NaN,NaN
2015-05-18 12:50:00,10000.0,22.0,1.0,220.0,15.0,1009.0,NaN,NaN,NaN,NaN,NaN
2015-05-18 13:20:00,10000.0,23.0,1.0,230.0,15.0,1008.0,NaN,NaN,NaN,NaN,NaN
2015-05-18 13:50:00,10000.0,22.0,1.0,210.0,14.0,1008.0,NaN,NaN,NaN,NaN,NaN
2015-05-18 14:20:00,10000.0,23.0,1.0,220.0,14.0,1007.0,NaN,NaN,NaN,NaN,NaN
2015-05-18 14:50:00,10000.0,23.0,1.0,230.0,17.0,1007.0,NaN,NaN,NaN,NaN,NaN
2015-05-18 15:20:00,10000.0,23.0,2.0,220.0,15.0,1007.0,NaN,NaN,NaN,NaN,NaN
2015-05-18 15:50:00,10000.0,22.0,3.0,210.0,13.0,1006.0,NaN,NaN,NaN,NaN,NaN
2015-05-18 16:20:00,10000.0,22.0,3.0,210.0,11.0,1006.0,NaN,NaN,NaN,NaN,NaN
2015-05-18 16:50:00,10000.0,22.0,3.0,220.0,11.0,1006.0,NaN,NaN,NaN,NaN,NaN
2015-05-18 10:20:00,10000.0,19.0,6.0,220.0,10.0,1012.0,2.0,4500.0,FEW,30000.0,BKN
2015-07-02 11:50:00,10000.0,34.0,16.0,160.0,6.0,1019.0,NaN,NaN,NaN,NaN,NaN

### Selection by label

When the index of the DataFrame is a range of dates (like in this case), you can **select** one or more **rows** ( = measurement dates) by specifying a date or a date range (as strings):

In [51]:
tabelle.loc["2015-11"] # selects all rows where the date is in November 2015.

,vis,temp,dewpt,winddir,windspeed,press_sealevel,cloudlevels,lcl_alt,lcl_cov,ucl_alt,ucl_cov
time,,,,,,,,,,,
2015-11-01 00:20:00,7000.0,3.0,2.0,80.0,5.0,1030.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 00:50:00,7000.0,3.0,3.0,60.0,6.0,1030.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 01:20:00,6000.0,3.0,2.0,NaN,2.0,1030.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 01:50:00,5000.0,2.0,2.0,NaN,2.0,1030.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 02:20:00,5000.0,4.0,3.0,NaN,2.0,1030.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 02:50:00,5000.0,4.0,4.0,70.0,3.0,1030.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 03:20:00,5000.0,3.0,3.0,80.0,4.0,1030.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 03:50:00,5000.0,3.0,3.0,80.0,7.0,1030.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 04:20:00,6000.0,3.0,3.0,70.0,7.0,1030.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 04:50:00,5000.0,2.0,2.0,10.0,3.0,1030.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 05:20:00,4500.0,3.0,3.0,NaN,2.0,1030.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 05:50:00,4000.0,2.0,1.0,NaN,2.0,1031.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 06:20:00,2800.0,2.0,2.0,160.0,3.0,1031.0,1.0,100.0,FEW,NaN,NaN
2015-11-01 06:50:00,2800.0,2.0,2.0,170.0,3.0,1031.0,1.0,200.0,FEW,NaN,NaN
2015-11-01 07:20:00,1000.0,3.0,2.0,NaN,2.0,1032.0,2.0,100.0,FEW,600.0,BKN
2015-11-01 07:50:00,150.0,3.0,2.0,140.0,3.0,1032.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 08:20:00,300.0,3.0,3.0,140.0,3.0,1032.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 08:50:00,300.0,4.0,3.0,NaN,2.0,1032.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 09:20:00,400.0,4.0,4.0,NaN,2.0,1032.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 09:50:00,400.0,4.0,4.0,NaN,2.0,1032.0,1.0,100.0,BKN,NaN,NaN
2015-11-01 10:20:00,600.0,5.0,5.0,150.0,3.0,1032.0,2.0,100.0,BKN,400.0,BKN
2015-11-01 10:50:00,900.0,5.0,5.0,180.0,3.0,1032.0,2.0,100.0,BKN,300.0,BKN
2015-11-01 11:20:00,1600.0,6.0,5.0,160.0,3.0,1032.0,2.0,100.0,SCT,200.0,BKN
2015-11-01 11:50:00,1800.0,6.0,5.0,190.0,4.0,1031.0,3.0,100.0,FEW,400.0,BKN
2015-11-01 12:20:00,2500.0,6.0,6.0,200.0,4.0,1031.0,3.0,100.0,FEW,400.0,BKN
2015-11-01 12:50:00,3000.0,6.0,6.0,220.0,5.0,1031.0,2.0,200.0,FEW,300.0,BKN
2015-11-01 13:20:00,3500.0,6.0,5.0,220.0,5.0,1031.0,2.0,200.0,FEW,300.0,BKN
2015-11-01 13:50:00,3000.0,6.0,5.0,200.0,4.0,1031.0,2.0,200.0,FEW,300.0,BKN
2015-11-01 14:20:00,2500.0,6.0,5.0,200.0,5.0,1031.0,2.0,200.0,FEW,300.0,OVC
2015-11-01 14:50:00,1400.0,6.0,5.0,180.0,4.0,1031.0,2.0,100.0,FEW,200.0,OVC
...,...,...,...,...,...,...,...,...,...,...,...
2015-11-30 09:20:00,10000.0,8.0,7.0,180.0,4.0,1021.0,3.0,300.0,FEW,2500.0,BKN
2015-11-30 09:50:00,10000.0,9.0,8.0,200.0,7.0,1021.0,3.0,300.0,FEW,2500.0,BKN
2015-11-30 10:20:00,8000.0,9.0,8.0,210.0,11.0,1021.0,3.0,300.0,FEW,3200.0,OVC
2015-11-30 10:50:00,6000.0,9.0,8.0,220.0,9.0,1020.0,3.0,300.0,FEW,2200.0,BKN
2015-11-30 11:20:00,7000.0,9.0,8.0,200.0,7.0,1020.0,3.0,300.0,FEW,2100.0,BKN
2015-11-30 11:50:00,10000.0,10.0,9.0,210.0,12.0,1019.0,3.0,300.0,FEW,3600.0,OVC
2015-11-30 12:20:00,10000.0,10.0,9.0,210.0,15.0,1019.0,2.0,300.0,FEW,2500.0,BKN
2015-11-30 12:50:00,5000.0,10.0,9.0,210.0,18.0,1019.0,3.0,300.0,FEW,1700.0,BKN
2015-11-30 13:20:00,10000.0,10.0,9.0,210.0,17.0,1019.0,3.0,500.0,FEW,3200.0,OVC
2015-11-30 13:50:00,10000.0,10.0,8.0,220.0,16.0,1018.0,2.0,500.0,FEW,2800.0,OVC
2015-11-30 14:20:00,10000.0,10.0,8.0,220.0,16.0,1018.0,2.0,600.0,FEW,2500.0,BKN
2015-11-30 14:50:00,10000.0,10.0,8.0,220.0,15.0,1018.0,2.0,1000.0,FEW,2800.0,BKN
2015-11-30 15:20:00,10000.0,11.0,7.0,220.0,17.0,1017.0,2.0,1000.0,FEW,2600.0,BKN
2015-11-30 15:50:00,10000.0,11.0,7.0,220.0,17.0,1017.0,2.0,1300.0,FEW,2800.0,BKN
2015-11-30 16:20:00,10000.0,11.0,7.0,220.0,15.0,1017.0,2.0,1500.0,FEW,3000.0,BKN
2015-11-30 16:50:00,10000.0,11.0,7.0,220.0,19.0,1017.0,2.0,1500.0,FEW,3000.0,BKN
2015-11-30 17:20:00,10000.0,11.0,7.0,220.0,22.0,1016.0,2.0,1500.0,FEW,3000.0,BKN
2015-11-30 17:50:00,10000.0,11.0,7.0,220.0,19.0,1016.0,2.0,1500.0,FEW,3000.0,BKN
2015-11-30 18:20:00,10000.0,11.0,7.0,210.0,19.0,1016.0,2.0,1500.0,FEW,3500.0,BKN
2015-11-30 18:50:00,10000.0,11.0,7.0,220.0,21.0,1015.0,2.0,1000.0,FEW,3100.0,BKN
2015-11-30 19:20:00,10000.0,10.0,8.0,240.0,18.0,1016.0,2.0,1000.0,FEW,3300.0,OVC
2015-11-30 19:50:00,10000.0,11.0,7.0,240.0,21.0,1016.0,2.0,1000.0,FEW,3200.0,OVC
2015-11-30 20:20:00,10000.0,11.0,8.0,240.0,20.0,1016.0,2.0,1000.0,FEW,3200.0,OVC
2015-11-30 20:50:00,10000.0,10.0,8.0,230.0,22.0,1016.0,3.0,1000.0,FEW,3700.0,OVC
2015-11-30 21:20:00,10000.0,11.0,8.0,240.0,20.0,1016.0,3.0,1000.0,FEW,4300.0,OVC
2015-11-30 21:50:00,10000.0,10.0,8.0,240.0,24.0,1016.0,3.0,1000.0,FEW,3500.0,OVC
2015-11-30 22:20:00,10000.0,11.0,8.0,240.0,22.0,1016.0,3.0,1000.0,FEW,3500.0,BKN
2015-11-30 22:50:00,10000.0,11.0,8.0,240.0,21.0,1016.0,3.0,2600.0,FEW,15000.0,BKN
2015-11-30 23:20:00,10000.0,11.0,8.0,240.0,22.0,1017.0,3.0,2600.0,FEW,15000.0,BKN
2015-11-30 23:50:00,10000.0,11.0,8.0,240.0,22.0,1017.0,3.0,2600.0,FEW,14000.0,BKN

In [52]:
tabelle.loc["2015-11-01 15:55":"2015-11-01 19:20"] # selects all rows between 2015-11-01 15:55 and 2015-11-01 19:20

,vis,temp,dewpt,winddir,windspeed,press_sealevel,cloudlevels,lcl_alt,lcl_cov,ucl_alt,ucl_cov
time,,,,,,,,,,,
2015-11-01 16:20:00,250.0,5.0,5.0,190.0,5.0,1031.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 16:50:00,200.0,6.0,5.0,210.0,4.0,1031.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 17:20:00,200.0,6.0,5.0,220.0,3.0,1031.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 17:50:00,200.0,6.0,5.0,NaN,2.0,1031.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 18:20:00,150.0,6.0,5.0,240.0,3.0,1031.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 18:50:00,100.0,6.0,5.0,NaN,2.0,1031.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 19:20:00,100.0,5.0,5.0,NaN,1.0,1031.0,NaN,NaN,NaN,NaN,NaN

You can **select** one or more **columns** by:

In [38]:
tabelle.loc[:, ['vis','temp']]

                        vis  temp
time
2015-01-01 00:20:00  2800.0   1.0
2015-01-01 00:50:00  1500.0   1.0
2015-01-01 01:20:00  1000.0   1.0
2015-01-01 01:50:00   700.0   1.0
2015-01-01 02:20:00   600.0   1.0
2015-01-01 02:50:00   600.0   1.0
2015-01-01 03:20:00   700.0   1.0
2015-01-01 03:50:00   700.0   1.0
2015-01-01 04:20:00  1000.0   1.0
2015-01-01 04:50:00   900.0   1.0
2015-01-01 05:20:00   900.0   1.0
2015-01-01 05:50:00  1300.0   1.0
2015-01-01 06:20:00  1200.0   1.0
2015-01-01 06:50:00  1600.0   1.0
2015-01-01 07:20:00  1100.0   1.0
2015-01-01 07:50:00   700.0   1.0
2015-01-01 08:20:00   700.0   1.0
2015-01-01 08:50:00   600.0   1.0
2015-01-01 09:20:00   700.0   2.0
2015-01-01 09:50:00   800.0   2.0
2015-01-01 10:20:00   900.0   2.0
2015-01-01 10:50:00   900.0   2.0
2015-01-01 11:20:00  1300.0   2.0
2015-01-01 11:50:00  1500.0   3.0
2015-01-01 12:20:00  1600.0   3.0
2015-01-01 12:50:00  2000.0   3.0
2015-01-01 13:20:00  2200.0   3.0
2015-01-01 13:50:00  2400.0   3.0
2015-01-01 14:20:00  2400.0   3.0
2015-01-01 14:50:00  2000.0   3.0
...                     ...   ...
2015-12-31 09:20:00  3000.0   3.0
2015-12-31 09:50:00  3500.0   3.0
2015-12-31 10:20:00  3800.0   3.0
2015-12-31 10:50:00  4000.0   3.0
2015-12-31 11:20:00  4000.0   4.0
2015-12-31 11:50:00  4000.0   4.0
2015-12-31 12:20:00  4000.0   4.0
2015-12-31 12:50:00  4000.0   5.0
2015-12-31 13:20:00  4000.0   5.0
2015-12-31 13:50:00  4200.0   5.0
2015-12-31 14:20:00  3800.0   5.0
2015-12-31 14:50:00  3500.0   5.0
2015-12-31 15:20:00  3000.0   5.0
2015-12-31 15:50:00  2000.0   5.0
2015-12-31 16:20:00  1000.0   5.0
2015-12-31 16:50:00   800.0   5.0
2015-12-31 17:20:00   700.0   5.0
2015-12-31 17:50:00   800.0   5.0
2015-12-31 18:20:00   400.0   5.0
2015-12-31 18:50:00   700.0   5.0
2015-12-31 19:20:00   700.0   5.0
2015-12-31 19:50:00   500.0   5.0
2015-12-31 20:20:00   400.0   5.0
2015-12-31 20:50:00   300.0   5.0
2015-12-31 21:20:00   400.0   5.0
2015-12-31 21:50:00   700.0   5.0
2015-12-31 22:20:00   700.0   5.0
2015-12-31 22:50:00   400.0   5.0
2015-12-31 23:20:00   500.0   5.0
2015-12-31 23:50:00   500.0   5.0

[17520 rows x 2 columns]

And you can also **select columns and rows** together within one call:

In [40]:
tabelle.loc["2015-11-01 15:55":"2015-11-01 19:20", ['vis','temp']]

                       vis  temp
time
2015-11-01 16:20:00  250.0   5.0
2015-11-01 16:50:00  200.0   6.0
2015-11-01 17:20:00  200.0   6.0
2015-11-01 17:50:00  200.0   6.0
2015-11-01 18:20:00  150.0   6.0
2015-11-01 18:50:00  100.0   6.0
2015-11-01 19:20:00  100.0   5.0

### Selection by position (index)

Just as with the label selection, you can select values via their index using `iloc`:

In [41]:
tabelle.iloc[3:5, 0:2]

                       vis  temp
time
2015-01-01 01:50:00  700.0   1.0
2015-01-01 02:20:00  600.0   1.0

**Task:**

1. Import pandas and open this file: https://github.com/python-kurs/sommersemester_2019/blob/master/content/data/metar_frankfurt.csv
2. Clip the table to February 01, 2015 and the variables "vis", "temp" and "windspeed"

### Boolean indexing

You can use a single column's values to select data:

In [43]:
tabelle[tabelle.vis < 1000] # Selects all rows where vis < 1000

,vis,temp,dewpt,winddir,windspeed,press_sealevel,cloudlevels,lcl_alt,lcl_cov,ucl_alt,ucl_cov
time,,,,,,,,,,,
2015-01-01 01:50:00,700.0,1.0,1.0,0.0,0.0,1036.0,NaN,NaN,NaN,NaN,NaN
2015-01-01 02:20:00,600.0,1.0,1.0,0.0,0.0,1036.0,NaN,NaN,NaN,NaN,NaN
2015-01-01 02:50:00,600.0,1.0,1.0,0.0,0.0,1036.0,NaN,NaN,NaN,NaN,NaN
2015-01-01 03:20:00,700.0,1.0,1.0,0.0,0.0,1036.0,NaN,NaN,NaN,NaN,NaN
2015-01-01 03:50:00,700.0,1.0,1.0,0.0,0.0,1036.0,NaN,NaN,NaN,NaN,NaN
2015-01-01 04:50:00,900.0,1.0,1.0,0.0,0.0,1036.0,1.0,200.0,BKN,NaN,NaN
2015-01-01 05:20:00,900.0,1.0,1.0,0.0,0.0,1036.0,1.0,200.0,BKN,NaN,NaN
2015-01-01 07:50:00,700.0,1.0,1.0,160.0,4.0,1037.0,NaN,NaN,NaN,NaN,NaN
2015-01-01 08:20:00,700.0,1.0,1.0,NaN,2.0,1038.0,NaN,NaN,NaN,NaN,NaN
2015-01-01 08:50:00,600.0,1.0,1.0,160.0,5.0,1037.0,1.0,2700.0,BKN,NaN,NaN
2015-01-01 09:20:00,700.0,2.0,1.0,200.0,4.0,1037.0,2.0,300.0,FEW,2700.0,BKN
2015-01-01 09:50:00,800.0,2.0,2.0,230.0,5.0,1037.0,NaN,NaN,NaN,NaN,NaN
2015-01-01 10:20:00,900.0,2.0,1.0,220.0,5.0,1037.0,NaN,NaN,NaN,NaN,NaN
2015-01-01 10:50:00,900.0,2.0,2.0,240.0,4.0,1036.0,NaN,NaN,NaN,NaN,NaN
2015-01-06 03:20:00,300.0,-3.0,-4.0,10.0,3.0,1027.0,NaN,NaN,NaN,NaN,NaN
2015-01-06 03:50:00,600.0,-3.0,-3.0,NaN,2.0,1027.0,1.0,100.0,SCT,NaN,NaN
2015-01-06 04:20:00,300.0,NaN,NaN,360.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-06 04:50:00,300.0,-3.0,-3.0,360.0,3.0,1027.0,1.0,100.0,SCT,NaN,NaN
2015-01-06 05:20:00,300.0,-3.0,-3.0,10.0,4.0,1026.0,1.0,100.0,SCT,NaN,NaN
2015-01-06 05:50:00,300.0,-3.0,-3.0,10.0,3.0,1026.0,1.0,100.0,BKN,NaN,NaN
2015-01-06 06:20:00,300.0,-3.0,-3.0,20.0,3.0,1026.0,1.0,100.0,BKN,NaN,NaN
2015-01-06 06:50:00,500.0,NaN,NaN,10.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-06 07:20:00,800.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-06 07:50:00,400.0,-3.0,-3.0,NaN,2.0,1026.0,1.0,100.0,BKN,NaN,NaN
2015-01-06 08:20:00,300.0,-3.0,-3.0,NaN,2.0,1026.0,1.0,100.0,OVC,NaN,NaN
2015-01-06 08:50:00,300.0,-3.0,-3.0,30.0,1.0,1026.0,NaN,NaN,NaN,NaN,NaN
2015-01-06 09:20:00,600.0,-2.0,-3.0,110.0,3.0,1026.0,1.0,100.0,OVC,NaN,NaN
2015-01-06 09:50:00,600.0,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN
2015-01-06 10:20:00,900.0,-2.0,-2.0,100.0,3.0,1025.0,1.0,200.0,BKN,NaN,NaN
2015-01-06 14:20:00,900.0,-2.0,-2.0,180.0,3.0,1024.0,1.0,100.0,OVC,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2015-12-23 22:50:00,400.0,7.0,6.0,210.0,5.0,1029.0,NaN,NaN,NaN,NaN,NaN
2015-12-23 23:20:00,300.0,6.0,6.0,NaN,2.0,1029.0,NaN,NaN,NaN,NaN,NaN
2015-12-23 23:50:00,300.0,6.0,6.0,NaN,2.0,1028.0,NaN,NaN,NaN,NaN,NaN
2015-12-24 00:20:00,300.0,6.0,6.0,NaN,2.0,1028.0,NaN,NaN,NaN,NaN,NaN
2015-12-24 00:50:00,300.0,6.0,6.0,NaN,2.0,1028.0,NaN,NaN,NaN,NaN,NaN
2015-12-24 01:20:00,300.0,6.0,6.0,NaN,1.0,1027.0,NaN,NaN,NaN,NaN,NaN
2015-12-24 01:50:00,400.0,6.0,6.0,20.0,2.0,1027.0,2.0,100.0,BKN,800.0,BKN
2015-12-24 02:50:00,800.0,7.0,7.0,80.0,4.0,1027.0,2.0,100.0,BKN,300.0,BKN
2015-12-24 03:20:00,300.0,7.0,7.0,80.0,3.0,1027.0,NaN,NaN,NaN,NaN,NaN
2015-12-24 03:50:00,400.0,7.0,7.0,50.0,2.0,1026.0,1.0,100.0,BKN,NaN,NaN
2015-12-24 04:20:00,800.0,7.0,6.0,350.0,3.0,1026.0,2.0,100.0,SCT,2100.0,BKN
2015-12-24 04:50:00,700.0,6.0,6.0,NaN,2.0,1026.0,2.0,100.0,SCT,2200.0,SCT
2015-12-24 05:20:00,300.0,6.0,6.0,NaN,1.0,1026.0,2.0,100.0,FEW,2000.0,BKN
2015-12-24 06:20:00,700.0,6.0,6.0,NaN,1.0,1025.0,3.0,600.0,SCT,11000.0,BKN
2015-12-28 00:50:00,800.0,2.0,2.0,70.0,5.0,1031.0,2.0,100.0,FEW,25000.0,SCT
2015-12-31 16:50:00,800.0,5.0,5.0,NaN,1.0,1025.0,1.0,100.0,BKN,NaN,NaN
2015-12-31 17:20:00,700.0,5.0,5.0,NaN,2.0,1025.0,1.0,100.0,BKN,NaN,NaN
2015-12-31 17:50:00,800.0,5.0,5.0,NaN,1.0,1025.0,1.0,100.0,BKN,NaN,NaN
2015-12-31 18:20:00,400.0,5.0,5.0,NaN,1.0,1025.0,NaN,NaN,NaN,NaN,NaN
2015-12-31 18:50:00,700.0,5.0,5.0,320.0,3.0,1025.0,1.0,100.0,BKN,NaN,NaN
2015-12-31 19:20:00,700.0,5.0,5.0,330.0,4.0,1025.0,1.0,100.0,BKN,NaN,NaN
2015-12-31 19:50:00,500.0,5.0,5.0,300.0,3.0,1025.0,NaN,NaN,NaN,NaN,NaN
2015-12-31 20:20:00,400.0,5.0,5.0,NaN,2.0,1025.0,NaN,NaN,NaN,NaN,NaN
2015-12-31 20:50:00,300.0,5.0,5.0,60.0,1.0,1025.0,NaN,NaN,NaN,NaN,NaN
2015-12-31 21:20:00,400.0,5.0,5.0,NaN,2.0,1025.0,NaN,NaN,NaN,NaN,NaN
2015-12-31 21:50:00,700.0,5.0,5.0,20.0,2.0,1025.0,1.0,100.0,BKN,NaN,NaN
2015-12-31 22:20:00,700.0,5.0,5.0,360.0,1.0,1025.0,1.0,100.0,OVC,NaN,NaN
2015-12-31 22:50:00,400.0,5.0,5.0,NaN,2.0,1026.0,NaN,NaN,NaN,NaN,NaN
2015-12-31 23:20:00,500.0,5.0,5.0,NaN,2.0,1026.0,NaN,NaN,NaN,NaN,NaN
2015-12-31 23:50:00,500.0,5.0,5.0,240.0,3.0,1026.0,1.0,100.0,BKN,NaN,NaN

You can also use multiple columns to select data after specific criteria:

In [46]:
tabelle[(tabelle.vis < 1000) & (tabelle.temp>5)] # selects all rows where vis < 1000 and temp > 5

,vis,temp,dewpt,winddir,windspeed,press_sealevel,cloudlevels,lcl_alt,lcl_cov,ucl_alt,ucl_cov
time,,,,,,,,,,,
2015-08-29 02:20:00,500.0,15.0,15.0,60.0,4.0,1022.0,2.0,100.0,BKN,300.0,BKN
2015-10-05 01:50:00,400.0,9.0,9.0,10.0,4.0,1016.0,2.0,100.0,SCT,28000.0,BKN
2015-10-05 02:20:00,600.0,9.0,9.0,360.0,5.0,1016.0,2.0,100.0,SCT,28000.0,BKN
2015-10-05 02:50:00,800.0,10.0,9.0,20.0,5.0,1016.0,2.0,100.0,SCT,27000.0,BKN
2015-11-01 15:20:00,500.0,6.0,5.0,200.0,5.0,1031.0,1.0,100.0,OVC,NaN,NaN
2015-11-01 16:50:00,200.0,6.0,5.0,210.0,4.0,1031.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 17:20:00,200.0,6.0,5.0,220.0,3.0,1031.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 17:50:00,200.0,6.0,5.0,NaN,2.0,1031.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 18:20:00,150.0,6.0,5.0,240.0,3.0,1031.0,NaN,NaN,NaN,NaN,NaN
2015-11-01 18:50:00,100.0,6.0,5.0,NaN,2.0,1031.0,NaN,NaN,NaN,NaN,NaN
2015-11-13 07:20:00,700.0,6.0,5.0,190.0,7.0,1025.0,1.0,100.0,OVC,NaN,NaN
2015-12-17 22:50:00,300.0,8.0,8.0,120.0,2.0,1023.0,2.0,300.0,FEW,15000.0,SCT
2015-12-17 23:20:00,400.0,8.0,8.0,NaN,1.0,1023.0,2.0,300.0,FEW,15000.0,SCT
2015-12-17 23:50:00,800.0,8.0,7.0,NaN,2.0,1022.0,2.0,300.0,FEW,16000.0,BKN
2015-12-23 20:50:00,800.0,7.0,7.0,190.0,7.0,1029.0,1.0,100.0,BKN,NaN,NaN
2015-12-23 21:20:00,300.0,7.0,7.0,200.0,3.0,1029.0,NaN,NaN,NaN,NaN,NaN
2015-12-23 21:50:00,300.0,7.0,7.0,200.0,4.0,1029.0,NaN,NaN,NaN,NaN,NaN
2015-12-23 22:20:00,300.0,7.0,7.0,220.0,6.0,1029.0,NaN,NaN,NaN,NaN,NaN
2015-12-23 22:50:00,400.0,7.0,6.0,210.0,5.0,1029.0,NaN,NaN,NaN,NaN,NaN
2015-12-23 23:20:00,300.0,6.0,6.0,NaN,2.0,1029.0,NaN,NaN,NaN,NaN,NaN
2015-12-23 23:50:00,300.0,6.0,6.0,NaN,2.0,1028.0,NaN,NaN,NaN,NaN,NaN
2015-12-24 00:20:00,300.0,6.0,6.0,NaN,2.0,1028.0,NaN,NaN,NaN,NaN,NaN
2015-12-24 00:50:00,300.0,6.0,6.0,NaN,2.0,1028.0,NaN,NaN,NaN,NaN,NaN
2015-12-24 01:20:00,300.0,6.0,6.0,NaN,1.0,1027.0,NaN,NaN,NaN,NaN,NaN
2015-12-24 01:50:00,400.0,6.0,6.0,20.0,2.0,1027.0,2.0,100.0,BKN,800.0,BKN
2015-12-24 02:50:00,800.0,7.0,7.0,80.0,4.0,1027.0,2.0,100.0,BKN,300.0,BKN
2015-12-24 03:20:00,300.0,7.0,7.0,80.0,3.0,1027.0,NaN,NaN,NaN,NaN,NaN
2015-12-24 03:50:00,400.0,7.0,7.0,50.0,2.0,1026.0,1.0,100.0,BKN,NaN,NaN
2015-12-24 04:20:00,800.0,7.0,6.0,350.0,3.0,1026.0,2.0,100.0,SCT,2100.0,BKN
2015-12-24 04:50:00,700.0,6.0,6.0,NaN,2.0,1026.0,2.0,100.0,SCT,2200.0,SCT
2015-12-24 05:20:00,300.0,6.0,6.0,NaN,1.0,1026.0,2.0,100.0,FEW,2000.0,BKN
2015-12-24 06:20:00,700.0,6.0,6.0,NaN,1.0,1025.0,3.0,600.0,SCT,11000.0,BKN

### Operations

DataFrames provide many functions for calculating statistical measures, e.g. the average of each column:

In [69]:
tabelle.mean()

vis               9421.269977
temp                11.679785
dewpt                6.006740
winddir            169.353186
windspeed            7.120212
press_sealevel    1018.367967
cloudlevels          2.056611
lcl_alt           2142.938296
ucl_alt           8763.786646
dtype: float64

You can do the same for single columns, or `Series` as they are called in pandas:

In [70]:
tabelle.vis.mean()

9421.26997716895

And of course, you can combine all of the above:

In [74]:
tabelle[tabelle.vis < 1000].windspeed.median() # Calculate the median wind speed for times when the visibility was below 1000m

3.0

You can also **apply** specific functions to a Series or along an axis of a DataFrame object using the `apply()` method:

In [79]:
# First we define the function
def do_sth(x):
    return (x + 5) ** 2

# then we apply it:
tabelle.temp.apply(do_sth)

time
2015-01-01 00:20:00     36.0
2015-01-01 00:50:00     36.0
2015-01-01 01:20:00     36.0
2015-01-01 01:50:00     36.0
2015-01-01 02:20:00     36.0
2015-01-01 02:50:00     36.0
2015-01-01 03:20:00     36.0
2015-01-01 03:50:00     36.0
2015-01-01 04:20:00     36.0
2015-01-01 04:50:00     36.0
2015-01-01 05:20:00     36.0
2015-01-01 05:50:00     36.0
2015-01-01 06:20:00     36.0
2015-01-01 06:50:00     36.0
2015-01-01 07:20:00     36.0
2015-01-01 07:50:00     36.0
2015-01-01 08:20:00     36.0
2015-01-01 08:50:00     36.0
2015-01-01 09:20:00     49.0
2015-01-01 09:50:00     49.0
2015-01-01 10:20:00     49.0
2015-01-01 10:50:00     49.0
2015-01-01 11:20:00     49.0
2015-01-01 11:50:00     64.0
2015-01-01 12:20:00     64.0
2015-01-01 12:50:00     64.0
2015-01-01 13:20:00     64.0
2015-01-01 13:50:00     64.0
2015-01-01 14:20:00     64.0
2015-01-01 14:50:00     64.0
                       ...
2015-12-31 09:20:00     64.0
2015-12-31 09:50:00     64.0
2015-12-31 10:20:00     64.0
2015-12-31 10:50:00     64.0
2015-12-31 11:20:00     81.0
2015-12-31 11:50:00     81.0
2015-12-31 12:20:00     81.0
2015-12-31 12:50:00    100.0
2015-12-31 13:20:00    100.0
2015-12-31 13:50:00    100.0
2015-12-31 14:20:00    100.0
2015-12-31 14:50:00    100.0
2015-12-31 15:20:00    100.0
2015-12-31 15:50:00    100.0
2015-12-31 16:20:00    100.0
2015-12-31 16:50:00    100.0
2015-12-31 17:20:00    100.0
2015-12-31 17:50:00    100.0
2015-12-31 18:20:00    100.0
2015-12-31 18:50:00    100.0
2015-12-31 19:20:00    100.0
2015-12-31 19:50:00    100.0
2015-12-31 20:20:00    100.0
2015-12-31 20:50:00    100.0
2015-12-31 21:20:00    100.0
2015-12-31 21:50:00    100.0
2015-12-31 22:20:00    100.0
2015-12-31 22:50:00    100.0
2015-12-31 23:20:00    100.0
2015-12-31 23:50:00    100.0
Name: temp, Length: 17520, dtype: float64

**Task:**

1. Calculate the maximum wind speed for wind directions between 225° and 315° (West wind)
2. Calculate the average wind speed for times when the horizontal visibility (vis) was below/above 1000m. Which one is higher? Do you have an idea, why?

### Resampling

Another often needed functionality when working with time series data is provided by the `resample()` method. You can use it to resample your data to different temporal resolutions.

The `resample()` function returns a [Resampler](https://pandas.pydata.org/pandas-docs/stable/reference/resampling.html) object which in turn provides many functions for the specific resampling method.

For example, we can average the Frankfurt Aiport data on a 3 hour interval:

In [101]:
tabelle.resample('3H').mean()

,vis,temp,dewpt,winddir,windspeed,press_sealevel,cloudlevels,lcl_alt,ucl_alt
time,,,,,,,,,
2015-01-01 00:00:00,1200.000000,1.000000,1.000000,0.000000,0.000000,1036.000000,1.000000,133.333333,NaN
2015-01-01 03:00:00,916.666667,1.000000,1.000000,0.000000,0.000000,1036.000000,1.000000,200.000000,NaN
2015-01-01 06:00:00,983.333333,1.000000,1.000000,155.000000,2.666667,1037.333333,1.750000,850.000000,1166.666667
2015-01-01 09:00:00,1016.666667,2.166667,1.666667,228.333333,4.333333,1036.666667,2.000000,300.000000,1200.000000
2015-01-01 12:00:00,2100.000000,3.000000,2.000000,198.000000,4.000000,1035.500000,2.500000,566.666667,1433.333333
2015-01-01 15:00:00,2983.333333,3.000000,2.000000,191.666667,6.000000,1035.333333,2.833333,516.666667,1866.666667
2015-01-01 18:00:00,5083.333333,2.833333,1.666667,195.000000,7.666667,1034.333333,2.000000,550.000000,1216.666667
2015-01-01 21:00:00,8500.000000,2.000000,1.000000,216.666667,8.833333,1033.000000,1.333333,666.666667,900.000000
2015-01-02 00:00:00,9000.000000,1.500000,0.500000,205.000000,11.500000,1030.666667,1.000000,650.000000,NaN
2015-01-02 03:00:00,9166.666667,0.833333,-0.333333,201.666667,10.833333,1029.166667,1.666667,700.000000,7125.000000
2015-01-02 06:00:00,6000.000000,1.000000,0.000000,201.666667,11.666667,1028.000000,2.500000,733.333333,4050.000000
2015-01-02 09:00:00,6666.666667,1.666667,0.833333,203.333333,12.833333,1028.000000,2.000000,683.333333,1366.666667
2015-01-02 12:00:00,10000.000000,3.833333,2.000000,210.000000,14.000000,1028.500000,2.000000,600.000000,1533.333333
2015-01-02 15:00:00,10000.000000,4.000000,3.000000,213.333333,13.833333,1030.333333,2.166667,1133.333333,3520.000000
2015-01-02 18:00:00,10000.000000,3.500000,2.000000,193.333333,9.833333,1032.833333,1.666667,2700.000000,4225.000000
2015-01-02 21:00:00,10000.000000,2.333333,0.666667,215.000000,10.833333,1033.833333,NaN,NaN,NaN
2015-01-03 00:00:00,10000.000000,1.666667,0.000000,211.666667,6.166667,1033.833333,NaN,NaN,NaN
2015-01-03 03:00:00,9500.000000,1.333333,0.666667,188.333333,5.333333,1031.833333,2.500000,850.000000,11500.000000
2015-01-03 06:00:00,8000.000000,1.333333,0.833333,181.666667,6.333333,1029.333333,2.500000,383.333333,5916.666667
2015-01-03 09:00:00,9000.000000,2.833333,1.833333,186.666667,8.666667,1026.166667,2.666667,416.666667,2116.666667
2015-01-03 12:00:00,4083.333333,0.500000,0.500000,194.000000,5.500000,1020.833333,2.166667,266.666667,400.000000
2015-01-03 15:00:00,3983.333333,0.000000,0.000000,42.000000,0.833333,1017.000000,2.166667,150.000000,500.000000
2015-01-03 18:00:00,5666.666667,0.166667,0.000000,216.000000,2.500000,1017.000000,3.000000,183.333333,3466.666667
2015-01-03 21:00:00,10000.000000,1.666667,0.833333,293.333333,7.333333,1021.833333,2.500000,483.333333,5516.666667
2015-01-04 00:00:00,10000.000000,2.333333,1.166667,234.000000,5.666667,1026.000000,2.666667,866.666667,2116.666667
2015-01-04 03:00:00,10000.000000,3.000000,0.666667,260.000000,7.333333,1028.333333,2.000000,1750.000000,2900.000000
2015-01-04 06:00:00,10000.000000,3.166667,0.833333,243.333333,6.666667,1030.000000,1.833333,2033.333333,2400.000000
2015-01-04 09:00:00,10000.000000,4.000000,1.000000,240.000000,8.500000,1032.166667,2.333333,2000.000000,3100.000000
2015-01-04 12:00:00,10000.000000,4.500000,1.000000,236.666667,6.166667,1033.333333,2.000000,2283.333333,2983.333333
2015-01-04 15:00:00,10000.000000,4.000000,1.333333,238.333333,5.000000,1034.666667,2.000000,2883.333333,3980.000000
...,...,...,...,...,...,...,...,...,...
2015-12-28 06:00:00,8333.333333,1.000000,1.000000,71.666667,4.333333,1030.000000,1.833333,116.666667,30000.000000
2015-12-28 09:00:00,10000.000000,5.666667,3.666667,35.000000,7.333333,1029.500000,2.000000,420.000000,30000.000000
2015-12-28 12:00:00,10000.000000,7.833333,4.500000,25.000000,6.500000,1027.666667,NaN,NaN,NaN
2015-12-28 15:00:00,10000.000000,6.500000,3.666667,33.333333,9.833333,1027.000000,NaN,NaN,NaN
2015-12-28 18:00:00,10000.000000,5.333333,3.000000,61.666667,11.500000,1026.166667,NaN,NaN,NaN
2015-12-28 21:00:00,10000.000000,3.500000,1.833333,53.333333,6.333333,1026.000000,NaN,NaN,NaN
2015-12-29 00:00:00,10000.000000,1.500000,0.500000,80.000000,2.666667,1025.500000,NaN,NaN,NaN
2015-12-29 03:00:00,10000.000000,-0.166667,-0.833333,117.500000,3.166667,1025.166667,NaN,NaN,NaN
2015-12-29 06:00:00,10000.000000,-1.500000,-1.833333,240.000000,1.833333,1026.500000,NaN,NaN,NaN
2015-12-29 09:00:00,10000.000000,3.166667,0.333333,250.000000,2.166667,1027.833333,NaN,NaN,NaN
2015-12-29 12:00:00,10000.000000,5.833333,1.333333,183.333333,3.000000,1028.333333,2.000000,4000.000000,30000.000000
2015-12-29 15:00:00,10000.000000,4.333333,2.000000,130.000000,2.000000,1029.833333,1.333333,3083.333333,16500.000000
2015-12-29 18:00:00,10000.000000,3.666667,2.333333,137.500000,1.833333,1031.000000,1.833333,2633.333333,3660.000000
2015-12-29 21:00:00,10000.000000,4.333333,2.833333,80.000000,4.166667,1031.333333,1.500000,1950.000000,5233.333333
2015-12-30 00:00:00,10000.000000,4.666667,3.000000,112.000000,4.166667,1031.000000,1.333333,1400.000000,1400.000000
2015-12-30 03:00:00,10000.000000,5.000000,3.000000,55.000000,4.833333,1030.833333,2.000000,1066.666667,1533.333333
2015-12-30 06:00:00,10000.000000,5.166667,2.666667,48.333333,6.500000,1030.000000,2.166667,916.666667,2700.000000
2015-12-30 09:00:00,10000.000000,6.000000,3.000000,91.666667,10.000000,1028.666667,2.333333,1316.666667,2416.666667
2015-12-30 12:00:00,10000.000000,6.000000,2.166667,98.333333,12.333333,1026.333333,2.000000,1500.000000,1883.333333
2015-12-30 15:00:00,10000.000000,5.500000,1.166667,113.333333,8.500000,1025.333333,1.166667,1883.333333,1900.000000
2015-12-30 18:00:00,10000.000000,5.333333,1.500000,96.666667,5.000000,1023.333333,1.000000,1916.666667,NaN
2015-12-30 21:00:00,10000.000000,3.166667,0.833333,83.333333,5.000000,1021.500000,1.000000,2000.000000,NaN
2015-12-31 00:00:00,10000.000000,0.666667,-0.666667,91.666667,5.666667,1020.333333,NaN,NaN,NaN
2015-12-31 03:00:00,9833.333333,1.500000,0.666667,100.000000,1.833333,1021.000000,2.200000,2940.000000,11800.000000
2015-12-31 06:00:00,5800.000000,2.666667,1.833333,116.666667,1.500000,1022.166667,3.000000,933.333333,6016.666667
2015-12-31 09:00:00,3716.666667,3.333333,2.500000,225.000000,2.500000,1023.333333,2.500000,416.666667,1216.666667
2015-12-31 12:00:00,3916.666667,4.833333,3.833333,212.500000,2.666667,1024.000000,1.166667,366.666667,500.000000
2015-12-31 15:00:00,1383.333333,5.000000,4.500000,NaN,1.500000,1025.000000,1.166667,133.333333,300.000000
2015-12-31 18:00:00,500.000000,5.000000,5.000000,252.500000,2.333333,1025.000000,1.000000,100.000000,NaN
2015-12-31 21:00:00,533.333333,5.000000,5.000000,206.666667,2.000000,1025.500000,1.000000,100.000000,NaN

But we are not limited to calculating the mean over these intervals. We can also calculate the sum or any other function we like:

In [100]:
tabelle.resample('3H').sum()

,vis,temp,dewpt,winddir,windspeed,press_sealevel,cloudlevels,lcl_alt,ucl_alt
time,,,,,,,,,
2015-01-01 00:00:00,7200.0,6.0,6.0,0.0,0.0,6216.0,3.0,400.0,0.0
2015-01-01 03:00:00,5500.0,6.0,6.0,0.0,0.0,6216.0,4.0,800.0,0.0
2015-01-01 06:00:00,5900.0,6.0,6.0,620.0,16.0,6224.0,7.0,3400.0,3500.0
2015-01-01 09:00:00,6100.0,13.0,10.0,1370.0,26.0,6220.0,6.0,900.0,3600.0
2015-01-01 12:00:00,12600.0,18.0,12.0,990.0,24.0,6213.0,15.0,3400.0,8600.0
2015-01-01 15:00:00,17900.0,18.0,12.0,1150.0,36.0,6212.0,17.0,3100.0,11200.0
2015-01-01 18:00:00,30500.0,17.0,10.0,1170.0,46.0,6206.0,12.0,3300.0,7300.0
2015-01-01 21:00:00,51000.0,12.0,6.0,1300.0,53.0,6198.0,8.0,4000.0,1800.0
2015-01-02 00:00:00,54000.0,9.0,3.0,1230.0,69.0,6184.0,6.0,3900.0,0.0
2015-01-02 03:00:00,55000.0,5.0,-2.0,1210.0,65.0,6175.0,10.0,4200.0,28500.0
2015-01-02 06:00:00,36000.0,6.0,0.0,1210.0,70.0,6168.0,15.0,4400.0,24300.0
2015-01-02 09:00:00,40000.0,10.0,5.0,1220.0,77.0,6168.0,12.0,4100.0,8200.0
2015-01-02 12:00:00,60000.0,23.0,12.0,1260.0,84.0,6171.0,12.0,3600.0,9200.0
2015-01-02 15:00:00,60000.0,24.0,18.0,1280.0,83.0,6182.0,13.0,6800.0,17600.0
2015-01-02 18:00:00,60000.0,21.0,12.0,1160.0,59.0,6197.0,10.0,16200.0,16900.0
2015-01-02 21:00:00,60000.0,14.0,4.0,1290.0,65.0,6203.0,0.0,0.0,0.0
2015-01-03 00:00:00,60000.0,10.0,0.0,1270.0,37.0,6203.0,0.0,0.0,0.0
2015-01-03 03:00:00,57000.0,8.0,4.0,1130.0,32.0,6191.0,5.0,1700.0,23000.0
2015-01-03 06:00:00,48000.0,8.0,5.0,1090.0,38.0,6176.0,15.0,2300.0,35500.0
2015-01-03 09:00:00,54000.0,17.0,11.0,1120.0,52.0,6157.0,16.0,2500.0,12700.0
2015-01-03 12:00:00,24500.0,3.0,3.0,970.0,33.0,6125.0,13.0,1600.0,2400.0
2015-01-03 15:00:00,23900.0,0.0,0.0,210.0,5.0,6102.0,13.0,900.0,2000.0
2015-01-03 18:00:00,34000.0,1.0,0.0,1080.0,15.0,6102.0,18.0,1100.0,20800.0
2015-01-03 21:00:00,60000.0,10.0,5.0,1760.0,44.0,6131.0,15.0,2900.0,33100.0
2015-01-04 00:00:00,60000.0,14.0,7.0,1170.0,34.0,6156.0,16.0,5200.0,12700.0
2015-01-04 03:00:00,60000.0,18.0,4.0,1560.0,44.0,6170.0,12.0,10500.0,17400.0
2015-01-04 06:00:00,60000.0,19.0,5.0,1460.0,40.0,6180.0,11.0,12200.0,12000.0
2015-01-04 09:00:00,60000.0,24.0,6.0,1440.0,51.0,6193.0,14.0,12000.0,18600.0
2015-01-04 12:00:00,60000.0,27.0,6.0,1420.0,37.0,6200.0,12.0,13700.0,17900.0
2015-01-04 15:00:00,60000.0,24.0,8.0,1430.0,30.0,6208.0,12.0,17300.0,19900.0
...,...,...,...,...,...,...,...,...,...
2015-12-28 06:00:00,50000.0,6.0,6.0,430.0,26.0,6180.0,11.0,700.0,150000.0
2015-12-28 09:00:00,60000.0,34.0,22.0,210.0,44.0,6177.0,10.0,2100.0,150000.0
2015-12-28 12:00:00,60000.0,47.0,27.0,150.0,39.0,6166.0,0.0,0.0,0.0
2015-12-28 15:00:00,60000.0,39.0,22.0,200.0,59.0,6162.0,0.0,0.0,0.0
2015-12-28 18:00:00,60000.0,32.0,18.0,370.0,69.0,6157.0,0.0,0.0,0.0
2015-12-28 21:00:00,60000.0,21.0,11.0,320.0,38.0,6156.0,0.0,0.0,0.0
2015-12-29 00:00:00,60000.0,9.0,3.0,160.0,16.0,6153.0,0.0,0.0,0.0
2015-12-29 03:00:00,60000.0,-1.0,-5.0,470.0,19.0,6151.0,0.0,0.0,0.0
2015-12-29 06:00:00,60000.0,-9.0,-11.0,720.0,11.0,6159.0,0.0,0.0,0.0
2015-12-29 09:00:00,60000.0,19.0,2.0,250.0,13.0,6167.0,0.0,0.0,0.0
2015-12-29 12:00:00,60000.0,35.0,8.0,550.0,18.0,6170.0,2.0,4000.0,30000.0
2015-12-29 15:00:00,60000.0,26.0,12.0,260.0,12.0,6179.0,8.0,18500.0,33000.0
2015-12-29 18:00:00,60000.0,22.0,14.0,550.0,11.0,6186.0,11.0,15800.0,18300.0
2015-12-29 21:00:00,60000.0,26.0,17.0,480.0,25.0,6188.0,9.0,11700.0,15700.0
2015-12-30 00:00:00,60000.0,28.0,18.0,560.0,25.0,6186.0,8.0,8400.0,2800.0
2015-12-30 03:00:00,60000.0,30.0,18.0,330.0,29.0,6185.0,12.0,6400.0,9200.0
2015-12-30 06:00:00,60000.0,31.0,16.0,290.0,39.0,6180.0,13.0,5500.0,16200.0
2015-12-30 09:00:00,60000.0,36.0,18.0,550.0,60.0,6172.0,14.0,7900.0,14500.0
2015-12-30 12:00:00,60000.0,36.0,13.0,590.0,74.0,6158.0,12.0,9000.0,11300.0
2015-12-30 15:00:00,60000.0,33.0,7.0,680.0,51.0,6152.0,7.0,11300.0,1900.0
2015-12-30 18:00:00,60000.0,32.0,9.0,580.0,30.0,6140.0,6.0,11500.0,0.0
2015-12-30 21:00:00,60000.0,19.0,5.0,500.0,30.0,6129.0,3.0,6000.0,0.0
2015-12-31 00:00:00,60000.0,4.0,-4.0,550.0,34.0,6122.0,0.0,0.0,0.0
2015-12-31 03:00:00,59000.0,9.0,4.0,300.0,11.0,6126.0,11.0,14700.0,59000.0
2015-12-31 06:00:00,34800.0,16.0,11.0,350.0,9.0,6133.0,18.0,5600.0,36100.0
2015-12-31 09:00:00,22300.0,20.0,15.0,900.0,15.0,6140.0,15.0,2500.0,7300.0
2015-12-31 12:00:00,23500.0,29.0,23.0,850.0,16.0,6144.0,7.0,2200.0,500.0
2015-12-31 15:00:00,8300.0,30.0,27.0,0.0,9.0,6150.0,7.0,800.0,300.0
2015-12-31 18:00:00,3000.0,30.0,30.0,1010.0,14.0,6150.0,2.0,200.0,0.0
2015-12-31 21:00:00,3200.0,30.0,30.0,620.0,12.0,6153.0,3.0,300.0,0.0

We can also resample to a higher temporal resolution than the original data set and provide an interpolation technique for time steps between known measurement points:

In [119]:
tabelle.temp.resample('10Min').interpolate("linear")

time
2015-01-01 00:20:00    1.0
2015-01-01 00:30:00    1.0
2015-01-01 00:40:00    1.0
2015-01-01 00:50:00    1.0
2015-01-01 01:00:00    1.0
2015-01-01 01:10:00    1.0
2015-01-01 01:20:00    1.0
2015-01-01 01:30:00    1.0
2015-01-01 01:40:00    1.0
2015-01-01 01:50:00    1.0
2015-01-01 02:00:00    1.0
2015-01-01 02:10:00    1.0
2015-01-01 02:20:00    1.0
2015-01-01 02:30:00    1.0
2015-01-01 02:40:00    1.0
2015-01-01 02:50:00    1.0
2015-01-01 03:00:00    1.0
2015-01-01 03:10:00    1.0
2015-01-01 03:20:00    1.0
2015-01-01 03:30:00    1.0
2015-01-01 03:40:00    1.0
2015-01-01 03:50:00    1.0
2015-01-01 04:00:00    1.0
2015-01-01 04:10:00    1.0
2015-01-01 04:20:00    1.0
2015-01-01 04:30:00    1.0
2015-01-01 04:40:00    1.0
2015-01-01 04:50:00    1.0
2015-01-01 05:00:00    1.0
2015-01-01 05:10:00    1.0
                      ...
2015-12-31 19:00:00    5.0
2015-12-31 19:10:00    5.0
2015-12-31 19:20:00    5.0
2015-12-31 19:30:00    5.0
2015-12-31 19:40:00    5.0
2015-12-31 19:50:00    5.0
2015-12-31 20:00:00    5.0
2015-12-31 20:10:00    5.0
2015-12-31 20:20:00    5.0
2015-12-31 20:30:00    5.0
2015-12-31 20:40:00    5.0
2015-12-31 20:50:00    5.0
2015-12-31 21:00:00    5.0
2015-12-31 21:10:00    5.0
2015-12-31 21:20:00    5.0
2015-12-31 21:30:00    5.0
2015-12-31 21:40:00    5.0
2015-12-31 21:50:00    5.0
2015-12-31 22:00:00    5.0
2015-12-31 22:10:00    5.0
2015-12-31 22:20:00    5.0
2015-12-31 22:30:00    5.0
2015-12-31 22:40:00    5.0
2015-12-31 22:50:00    5.0
2015-12-31 23:00:00    5.0
2015-12-31 23:10:00    5.0
2015-12-31 23:20:00    5.0
2015-12-31 23:30:00    5.0
2015-12-31 23:40:00    5.0
2015-12-31 23:50:00    5.0
Freq: 10T, Name: temp, Length: 52558, dtype: float64

Although pandas has the ability to plot the data in graphs as well, we use specific plotting libraries for this purpose. There are many plotting libraries for virtually any data visualization need. Some of these libraries can be used regardless of the specific application, but many of them are intensely focused on accomplishing a particular task. A good overview is given on the [FusionCharts Blog](https://www.fusioncharts.com/blog/best-python-data-visualization-libraries/).

Here we will focus on the most basic (and oldest) plotting library called "**matplotlib**":

## matplotlib

![](https://matplotlib.org/_static/logo2.png)

## Exercise 4

- Complete the fourth assignment and push your results until tuesday 14:00 next week